@use "../global";

#main-home {
    padding-top: 126px;
    padding-bottom: 126px;
    background-color: #1C1E53;
}

.main-home {
    padding: 100px 0 0;
    display: flex;
    gap: 60px;

    &__left {
        h1 {
            max-width: 582px;
            margin-bottom: 24px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 54px;
            line-height: 74px;
            color: #FFFFFF;            
        }

        p {
            max-width: 562px;
            margin-bottom: 48px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #FFFFFF;
            opacity: 0.7;
        }

        &__btns {
            display: flex;
            button{
                padding: 16px 56px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #FFFFFF;
                background-color: transparent;
            }

            button.active{
                color: #1B1C2B;
                background-color: #FCD980;
                border-radius: 41px;
            }
        }
    }

    &__right {
        img {
            width: 100%;
        }
    }
}

.projects {
    padding-top: 57px;
    padding-bottom: 57px;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            color: #282938;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #282938;  
        }
    }

    &__cards {
       display: grid;
       grid-template-columns: 2fr 1fr;
       column-gap: 24px;
    }

    .projects__left__card {
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }

        &:hover {
            .card-hover {
                left: 0;
            }
        }
    }

    .card-hover {
        position: absolute;
        left: -100%;
        width: 50%;
        height: 100%;
        color: white;
        transition: 0.5s;
        background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);

        h1 {
            margin-top: 212px;
            margin-left: 20px;
            margin-bottom: 16px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
        }

        p {
            margin-bottom: 40px;
            margin-left: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #FFFFFF;
            opacity: 0.8;
        }

        a {
            display: block;
            margin-left: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #FCD980;
        }

    }

    .projects__right__card {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
        }

        &:hover {
            .card-right-hover {
                right: 0;
            }
        }

        .card-right-hover{
            position: absolute;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            color: white;
            transition: 0.5s;
            background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    
            h1 {
                margin-top: 100px;
                margin-left: 40px;
                margin-bottom: 16px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #FFFFFF;
            }

            a {
                display: block;
                margin-left: 40px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                color: #FCD980;
            }
        }
    }
}

#features{
    background-color: #F4F6FC;
}

.features {
    padding-top: 128px;
    padding-bottom: 128px;
    
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            font-family: 'Poppins';
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #282938;
        }

        h1 {
            max-width: 630px;
            font-family: 'Poppins';
            margin-bottom: 48px;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;       
            text-align: center;
            color: #282938;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        row-gap: 24px;

        .feature__card {
            padding: 102px 48px 48px;
            background-color: #FFFFFF;

            h4 {
                font-family: 'Poppins';
                margin-bottom: 12px;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                color: #282938;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #282938;
                opacity: 0.7;
            }
        }
    }
}

#clients {
    background-color: #F4F6FC;
}

.clients {
    padding: 130px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 110px;

    &__left {
        h1 {
            font-family: 'Poppins';
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 56px;
            color: #282938;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #282938;
            opacity: 0.7;
        }
    }
    &__right {

        .carousel-item {
            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 48px;
                color: #282938;
            }
        }
        .client-info {
            display: flex;
            align-items: center;
            gap: 12px;
            img {
                margin-top: 40px;
            }
            &__title {
                margin-top: 48px;
                p {
                    font-family: 'Poppins';
                    margin: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                    color: #282938;
                }

                p.active-par {
                    font-size: 12px;
                }
            }
        }
    }

    .carousel-control-next-icon{
        background-image: url(../../assets/images/home/chevron-right.svg);
    }

    .carousel-control-prev-icon {
        background-image: url(../../assets/images/home/chevron-left.svg);
    }

    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: auto;
        bottom: 0;
        padding: 33px 10px;
        border-radius: 50%;
        background-color: transparent;
        text-align: center;
        transition: opacity 1s ease;
    }
    .carousel-control-prev {
        right: 17%;
        left: auto;
    }

    .carousel-control-prev:hover,
    .carousel-control-prev:focus{
        background-color: #5239FA;
    }
    .carousel-control-next:hover,
    .carousel-control-next:focus {
        background-color: #5239FA;
    }


}


// RESPONSIVE
@media (max-width: 1200px){
    .main-home {
        padding-top: 30px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 100px;

        &__left {
            h1,p {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 1100px){
    .projects{
        &__cards{
            grid-template-columns: 1fr;
            row-gap: 100px;

            .projects__left__card {
                display: none;
            }

            .projects__right__card {
                margin-bottom: 50px;
            }
        }
    }

    .features {
        &__cards {
            grid-template-columns: 1fr 1fr;
        }
    }

    .clients {
        grid-template-columns: 1fr;
        row-gap: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 700px){
    .features {
        &__title {
            h1 {
                font-size: 32px;
                line-height: 48px;
            }
        }
        &__cards {
            grid-template-columns: 1fr;
            margin: 0 20px;
        }
    }
}

@media (max-width: 600px){
    .main-home__left {
        text-align: center;
        h1 {
            font-size: 36px;
            line-height: 48px;
        }

        p {
            font-size: 16px;
        }
    }

    .main-home__left__btns {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;

        button {
            margin-bottom: 20px;
        }
    }

    .projects__title {

        align-items: center;
        justify-content: center;
        h1 {
            font-size: 20px;
            margin: 0;
        }
        p {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .clients {
        display: none;
    }
}